// /* ledger.component.css */
// .vendor-container {
//   max-width: 800px;
//   margin: 20px auto;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;
//   margin-top: 20px;
// }

// th, td {
//   border: 1px solid #ddd;
//   padding: 8px;
//   text-align: left;
// }

// th {
//   background-color: #f2f2f2;
// }

@import "../../shared/shopify-theme.scss";

.shopify-card__body {
  padding-bottom: 16px;
}

.shopify-table td,
.shopify-table th {
  padding: 12px 16px;
  text-align: left;
}

.shopify-table__totals {
  border-top: 2px solid #e5e5e5;
}

.shopify-table__totals:first-of-type td {
  padding-top: 20px;
}

.shopify-table__totals:last-child td {
  padding-bottom: 20px;
}

.shopify-table__totals td:last-child {
  text-align: left;
}

.shopify-mobile-card--totals {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-top: 2px solid #e5e5e5;
}