/* device-register.component.scss */
<<<<<<< HEAD
@import "../../shared/shopify-theme";

:host ::ng-deep .shopify-topbar {
  top: 70px !important;
  z-index: 998 !important;
  border-bottom: 1px solid #e1e3e5;
  padding-bottom: 1rem !important;
}

:host ::ng-deep .shopify-topbar__inner {
  align-items: center;
  padding-left: 2.30rem;
}

:host ::ng-deep .shopify-main-container {
  margin-top: 60px !important;
=======

.card {
  border-radius: 18px;
}

.form-control,
.form-select {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}

.table td,
.table th {
  vertical-align: middle;
}

.badge {
  font-size: 12px;
  padding: 6px 10px;
}

@media (max-width: 768px) {

  .table {
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
  }

>>>>>>> e99ff1c95dd1b66647fe96478b0f65a98b54e6de
}