/* device-register.component.scss */
@import "../../shared/shopify-theme";

:host ::ng-deep .shopify-topbar {
  top: 70px !important;
  z-index: 998 !important;
  border-bottom: 1px solid #e1e3e5;
  padding-bottom: 1rem !important;
}

:host ::ng-deep .shopify-topbar__inner {
  align-items: center;
  padding-left: 2.30rem;
}

:host ::ng-deep .shopify-main-container {
  margin-top: 60px !important;
}