.e-dropdown ul{
    padding: 0px 2rem;
}
.e-dropdown ul li a{
 font-weight: 600 !important;
 color: rgba(85, 83, 83) !important;
 font-family: sans-serif;
 font-size: 14px;
 
}
.e-dropdown ul li a:hover{
    color: #fff !important;
    
    
}